[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-to-requirements = "*"
bumpversion = "*"
black = "*"
flake8 = "*"
isort = {extras = ["requirements"],version = "*"}
mypy = "*"
types-requests = "*"

[packages]
"github3.py" = "*"
typer = "*"

[requires]
python_version = "3.8"
